<div class="jumbotron">
  <h1>myScores</h1>
  
  <p>Hold styr på hvem som er best i tipping under VM 2014 med myScores. Sett opp egne ligaer, definer dine egne regler og 
      bli oppdatert automatisk etterhvert som resultatene kommer inn.</p>
  <img src="images/2014fwcoe_4cf_ps.png">
  <p><a class="btn btn-lg btn-success" ng-href="#/login">Registrer meg!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <h4>myScores</h4>
  <p>Lei av Excel ark som må manuelt oppdateres og uenighet om hva man faktisk tippet i ditt tippelag?</p>

  <h4>Angular</h4>
  <p>
    AngularJS rulez
  </p>

  <h4>Karma</h4>
  <p>Is a bitch</p>
</div>